body {
    font-family: 'Arial', sans-serif;
    background-color: #e9ecef;
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login {
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signup {
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-group {
    margin-bottom:20px;
    text-align: left;
    display: flex;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.login-button {
    width: 110px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create-account-button {
    width: 210px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #0056b3;
}

.create-account-button:hover {
    background-color: #0056b3;
}

.signup-message {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
    text-align: center;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 20px;
    text-align: right;
  }

  .project-list {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
    margin-top: 50px;
    font-weight: bold;
    text-align: center;
  }

.project-list{
    cursor: pointer;
    font-weight: bold;
}

.icons{
    display: flex;
    gap: 15px;
    display: inline-block;

}
.icons img{
    width:24px;
    height:24px;
    cursor: pointer;
}

.list-container {
    background-color: #007bff; 
    padding: 10px 0;
    text-align: center;
  }
  
